# Analyzing Motorcyle Sales Data

## Importing libraries

In [2]:
import numpy as np
import pandas as pd

## Reading the motorcycles sales data

In [3]:
sales_csv  = pd.read_csv("sales_csv.csv")
sales_csv.head()

,date,warehouse,client_type,product_line,quantity,unit_price,total,payment
0,01/06/2021,Central,Retail,Miscellaneous,8,16.85,134.83,Credit card
1,01/06/2021,North,Retail,Breaking system,9,19.29,173.61,Cash
2,01/06/2021,North,Retail,Suspension & traction,8,32.93,263.45,Credit card
3,01/06/2021,North,Wholesale,Frame & body,16,37.84,605.44,Transfer
4,01/06/2021,Central,Retail,Engine,2,60.48,120.96,Credit card