# Solutions to Exercises

## Question 1 Solution

In [1]:
import numpy as np

In [7]:
A = np.array([[2,3,5],[7,11,13],[17,19,23]])
B = np.ones((3,2))
C = np.array([[2,4,6],[8,10,12]])
A, B, C

(array([[ 2,  3,  5],
        [ 7, 11, 13],
        [17, 19, 23]]),
 array([[1., 1.],
        [1., 1.],
        [1., 1.]]),
 array([[ 2,  4,  6],
        [ 8, 10, 12]]))

1. Multiply **B** by **C** and store it in a variable called **D**

In [10]:
D = (B*4) @ C
D

array([[40., 56., 72.],
       [40., 56., 72.],
       [40., 56., 72.]])

2. Add the matrix **A** to **D** and store it in a variable called **E**

In [11]:
E = A + D
E

array([[42., 59., 77.],
       [47., 67., 85.],
       [57., 75., 95.]])

3. Multiply the transpose of **A** by 2 and store in in a variable called **transpose_A**

In [17]:
transpose_A = A*2
transpose_A = A.T
transpose_A

array([[ 2,  7, 17],
       [ 3, 11, 19],
       [ 5, 13, 23]])

4. Check for elements in **transpose_A** that are greater than 5 and store in a variable called **g5**

In [21]:
g5 = transpose_A[transpose_A > 5]
g5

array([ 7, 17, 11, 19, 13, 23])

5. Calculate the row sums of the matrix **transpose_A**

In [22]:
transpose_A.sum(axis = 0)

array([10, 31, 59])

## Question 2 Solution

In [47]:
rng = np.random.default_rng()
scores = rng.integers(100, size = (50))
scores

array([95, 67, 86, 95, 67, 13, 21,  3, 23, 58, 72, 95, 91, 23, 85, 22, 75,
       72, 88, 35, 77, 49, 82, 63, 47, 85, 79, 32, 46, 75, 55, 72, 47, 22,
       14, 73,  7, 42, 93, 32, 82, 23, 35, 72, 29, 67,  4, 58,  1, 79],
      dtype=int64)

1. What is the highest and lowest test score in the class.

In [48]:
min = scores.min()
max = scores.max()
min, max

(1, 95)

2. What is the average score of students in the class.

In [50]:
avg = scores.mean()
avg

54.56

3. What are the top 20 scores in the class

In [57]:
sort_scores = np.sort(scores)
sort_scores

array([ 1,  3,  4,  7, 13, 14, 21, 22, 22, 23, 23, 23, 29, 32, 32, 35, 35,
       42, 46, 47, 47, 49, 55, 58, 58, 63, 67, 67, 67, 72, 72, 72, 72, 73,
       75, 75, 77, 79, 79, 82, 82, 85, 85, 86, 88, 91, 93, 95, 95, 95],
      dtype=int64)

In [63]:
sort_scores[40:]

array([82, 85, 85, 86, 88, 91, 93, 95, 95, 95], dtype=int64)

4. How many students scored below average

In [64]:
sort_scores[sort_scores < avg]

array([ 1,  3,  4,  7, 13, 14, 21, 22, 22, 23, 23, 23, 29, 32, 32, 35, 35,
       42, 46, 47, 47, 49], dtype=int64)